


.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-image:linear-gradient(172deg, #2539A1 5.86%, rgba(35, 52, 142, 0.00) 149.25%);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #2539A1;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-image:linear-gradient(172deg, #2539A1 5.86%, rgba(35, 52, 142, 0.00) 149.25%) ;
  color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #2539A1;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  box-shadow: 2px 2px 2px #2539A1;
  color: #fff;
  transition: 250ms;
}
